.hero-main {
    background: url('../../assets/images/Xelor4.png') no-repeat top right/cover;
    background-color: var(--color-dark) ;
    color: var(--color-blue);
    border-radius: var(--border-radius-primary);
    padding: var(--padding-primary);
}

.hero-text {
    max-width: 500px;
}

.hero-title {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: calc(var(--margin-primary)/4);
    font-weight: var(--font-weight-bold);
}

.hero-title em {
    font-size: normal;
    color: var(--color-primary);
}

.hero-subtitle {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: var(--font-weight-normal);
    margin-bottom: calc(var(--margin-primary)/4);
}